@media screen and (max-width: 500px) {
    .navbar-nav {
        align-items: center;
        padding-top: 1rem;
    }

    .container {
        max-width: 100% !important;
    }

    .btn-custom{
        margin-left: 6.5rem !important;
    }
}

.container {
    max-width: 80%;
}

.navbar {
    background-color: white;
    font-weight: 600;
    font-size: 0.875rem;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);

    &-brand.logo-text {
        color: #414141;
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 1rem;
        text-decoration: none;
        padding-left: 1rem;

        &:hover {
            cursor: pointer;
            background-color: transparent;
            color: #7247EC;
        }

        &:focus {
            color: #7247EC;
        }
    }

    & .nav-item .nav-link {
        padding-top: 0.20rem;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        border-radius: 5px;
        font-size: 20px;
        color: #414141;
        text-align: center;

        &:hover {
            color: #7247EC;
        }

        &:focus {
            color: #7247EC;

        }
    }

    & .dropdown-menu {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
        background-color: #414141;

        & .dropdown-item {
            color: #7247EC;

        }

        & a:hover {
            background-color: hsla(130, 100%, 37%, 0.2);
            border-radius: 5px;
            color: #7247EC;

        }

        &-divider {
            width: 90%;
        }

    }


}

.btn-custom {
    background-color: #7247EC1A;
    color: #414141;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #7347ec88;

    }
}

.navbar .nav-item .nav-link .navbar .dropdown .dropdown-menu {
    animation: fadeDropdown 0.2s;
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.filled {
    color: #7247EC !important;
}
